
@import"public";
/*头部*/
#header_box{
      @include wh(100%,auto);
      background: #f5f5f5;
}
header{
     @include wh(1200px,134px);
     margin: 0 auto;
     span{
        margin-left: 38px;
        font-size: 24px;
        font-family: "Microsoft YaHei";
        line-height: 134px;
     }
     img{
         margin-left: 40px;
     }
}
#article_box{
     @include wh(100%,auto);
     background: #f5f5f5;
     article{
        @include wh(988px,527px);
        padding: 65px 65px 65px 65px;
        position: relative;
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        margin: 0 auto;
        #protocol_01{
            margin-left: 83px;
            margin-top: 10px;
        }
        #sub{
           @include wh(270px,36px); 
           background: #e74e4e;
           color: #FFFFFF;
           border: 0 ;
           margin-top: 44px;
           margin-left: 80px;
           outline: none;
        }
        p{
            display: block;
            @include wh(750px,70px);
            b{
                color: #CCCCCC;
                em{
                    color: red;
                    margin: 0 6px;
                }
            }
            input{
                height: 39px;
                width: 270px;
                border: 1px solid #CCCCCC;
                outline: none;
            }
        }
        p:nth-child(1){
            b{
                 margin-left: 24px;
            }
            span{
                display: inline-block;
                right: -307px;
                width: 333px;
                height: 38px;
                line-height: 38px;
                padding: 0 5px;
                border: 1px solid #d9d9d9;
                background: #f7f7f7;
                color: #999999;
                display: none;
                float: right;
            }
        }
         p:nth-child(2){
            b{
                 margin-left: 0px;
            }
            span{
                display: inline-block;
                right: -307px;
                width: 333px;
                height: 38px;
                line-height: 38px;
                padding: 0 5px;
                border: 1px solid #d9d9d9;
                background: #f7f7f7;
                 color: #999999;
                display: none;
                float: right;
            }
        }
         p:nth-child(3){
            b{
                 margin-left: 0px;
            }
            span{
                display: inline-block;
                right: -307px;
                width: 333px;
                height: 38px;
                line-height: 38px;
                padding: 0 5px;
                border: 1px solid #d9d9d9;
                background: #f7f7f7;
                 color: #999999;
                display: none;
                float: right;
            }
        }
         p:nth-child(4){
            b{
                 margin-left: 12px;
            }
            span{
                display: inline-block;
                right: -307px;
                width: 333px;
                height: 38px;
                line-height: 38px;
                padding: 0 5px;
                border: 1px solid #d9d9d9;
                background: #f7f7f7;
                 color: #999999;
                display: none;
                float: right;
            }
        }
         p:nth-child(5){
             input{
                  width: 132px;
             }
            b{
                 margin-left: 24px;
            }
            span{
                display: inline-block;
                right: -307px;
                width: 292px;
                height: 38px;
                line-height: 38px;
                padding: 0 5px;
                border: 1px solid #d9d9d9;
                background: #f7f7f7;
                 color: #999999;
                display: none;
            }
            i{
                color: #999999;
                a{
                    color: #4496ee;
                }
            }
        }
         p:nth-child(6){
              input{
                  width: 132px;
             }
            b{
                 margin-left: 0px;
            }
            span{
                display: inline-block;
                right: -307px;
                width: 292px;
                height: 38px;
                line-height: 38px;
                padding: 0 5px;
                border: 1px solid #d9d9d9;
                background: #f7f7f7;
                color: #999999;
                display: none;
            }
            a{
                display: inline-block;
                width: 106px;
                height: 38px;
                line-height: 38px;
                background: #f4f4f4;
                border: 1px solid #d9d9d9;
                text-align: center; 
                &:hover{
                    background: #d9d9d9;
                }
            }
        }
        i{
            color: #666666;
            span{
                color: #4496ee; 
            }
            em{
                display: inline-block;
                right: -307px;
                width: 130px;
                text-align: center;
                height: 38px;
                line-height: 38px;
                padding: 0 5px;
                border: 1px solid #d9d9d9;
                background: #f7f7f7;
                color: red;
                border:1px solid red;
                background :pink; 
                display: none;
            }
        }   
     }
}
#feiwu{
   @include wh(100%,30px);
    background: #f5f5f5;
}
